* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --carousel-padding: 1rem;
    --carousel-gap: .25rem;
    --carousel-item-on-screen: 3;
    --magical-number: 3;
    --carousel-item-lenght: calc((var(--carousel-item-on-screen)) - 1);
    --border-radius: .25rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5vmin;
}

body {
    background-color: black;
    color: #ffffff;
    margin-bottom: 2rem;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: var(--carousel-padding) calc((var(--carousel-padding))* 2 + (var(--carousel-gap))* 2) calc(var(--carousel-padding)/2);
}

.inactive {
    display: none !important;
}

/* ======================= HEADER ======================= */

header {
    height: 55vh;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
}

.header-bg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.netflix-logo {
    background: linear-gradient(to bottom, black, transparent);
    background-image: url(https://image.tmdb.org/t/p/original/wwemzKWzjKYJFfCeiB57q3r4Bcm.svg);
    position: absolute;
    z-index: 2;
    background-size: 40% auto;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    transition: .3s;
    pointer-events: none;
}

header .bg-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    right: 0;
    bottom: 0;
    width: 50%;
    z-index: -2;
    transition: .3s;
}

header .bg-img.active~.netflix-logo {
    transform: scale(1.6);
    opacity: 0;
}

header .bg-black {
    background: linear-gradient(to right, black 50%, transparent 120%);
    z-index: -1;
}

.header-text {
    padding-top: 2rem;
    max-width: 70%;
    margin: 0;
}

@media (max-width:768px) {

    header .bg-black {
        background: linear-gradient(to bottom, transparent, black 50%);
        z-index: -1;
    }

    header .bg-img {
        right: 0;
        top: 0;
        width: 100%;
        z-index: -2;
        transition: .3s;
        background-size: 100% auto;
        background-position: top;
        height: 100%;
    }

    header {
        height: 40vh;
        align-items: flex-end;
        margin-bottom: 2rem;
    }

    .header-text {
        padding-top: 2rem;
        max-width: 100%;
        margin: 0;
    }
}

.header-title {
    font-size: 3.5rem;
}

.header-description {
    font-size: .9rem;
}

/* ======================= CARROSEL ======================= */

.carousel-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 0 calc(var(--carousel-padding)*2 - var(--carousel-gap));
    overflow: hidden;
    height: 25vmin;
    max-height: 250px;
}

.carousel-wrapper:hover .carousel-control,
.carousel-wrapper:hover .carousel-control i {
    opacity: .25;
}

.carousel {
    position: absolute;
    flex-shrink: 0;
    --current-index: 0;
    display: flex;
    gap: var(--carousel-gap);
    width: calc(100% - (var(--carousel-padding) * var(--magical-number) + var(--carousel-gap) *var(--magical-number)));
    transition: transform .3s;
    transform: translateX(calc(((var(--current-index))* 100% + var(--carousel-gap))));
    height: 100%;
    overflow: hidden;
}

.carousel-item {
    flex: 0 0 calc((100% / var(--carousel-item-on-screen)) - var(--carousel-gap));
    opacity: 1;
    height: 100%;
    border-radius: var(--border-radius);
    overflow: hidden;
    border: 4px solid transparent;
    transition: .3s;
}

.instant {
    transition-delay: -800ms;
    z-index: -2;
}

.carousel-item:hover {
    border-color: rgb(255, 255, 255);
}

.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-control {
    position: absolute;
    top: 0;
    height: 100%;
    width: calc(var(--carousel-padding) * 2 - var(--carousel-gap));
    background-color: #000000;
    color: #ffffff;
    z-index: 1;
    opacity: 0;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    transition: .3s;
    cursor: pointer;
}

.carousel-control.left {
    left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.carousel-control.right {
    right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.carousel-control i {
    transition: .3s;
    opacity: 0;
}

.carousel-control:hover {
    opacity: .75 !important;
}

.carousel-control:hover i {
    opacity: 1 !important;
    transform: scale(1.25);
}

.carousel-control.disable {
    opacity: 0 !important;
    pointer-events: none;
}

.carousel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel-indicator {
    display: flex;
    align-items: center;
    height: .5rem;
    gap: .25rem;
}

.carousel-indicator .progress-item {
    height: 100%;
    width: 3rem;
    background-color: rgba(255, 255, 255, 0.25);
    transition: 0.3s;
}

.carousel-indicator .progress-item.active {
    background-color: #db202c;
}



@media (min-width:768px) {
    :root {
        --carousel-item-on-screen: 4;
        font-size: 2vmin;
    }
}